#this file is needed by sqoop.
#the file should contain:
#url to database, MySQL server username, password and
#tables (table to export data in, table for staging) in database 

--connect
jdbc:mysql://localhost/weather_formatted_sample

--username
root

--password
hadoop

--table
weather

--staging-table
weather_stage
